.underline {
    position: absolute;
    width: 0; 
    height: 2px;
    background-color: #a069d3;
    bottom: -5px; 
    left: 50%; 
    transform: translateX(-50%);
    transition: width 0.5s ease; 
  }
  
  li:hover .underline {
    width: 100%; 
  }

  @media screen and (max-width: 376px) {
    .burger {
      margin-top: 28px;
      margin-right: 10px;
      width: 130px;
      height: 90px;
    }
    .burger-block {
      width: 400px;
      height: 500px;
      background: #111111;
      top: 109px;
      right: 0;
      position: absolute;
      border: 1px solid none;
      border-radius: 5px;
    }
    .hidden {
      display: none;
    }
  }